/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  
}
h1
{
margin-left: 1em;
}

h3
{
	margin-left: 1em;
}
